:root {
    --primary: #005FF8;
    --white: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

/* Button Colors and Styles */

.btn--primary--contained {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--primary--contained:hover {
    background-color: #0000F4;
}

.btn--primary--contained:active {
    background-color: #274BC8;
}

.btn--primary--outlined {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary)
}

.btn--primary--text {
    background-color: transparent;
    color: var(--primary);
    border: none;
}

.btn--primary--text:hover {
    color: #0000F4;
}


/* Button Size */

.btn--medium {
    width: 122px;
    padding: 10px 20px;
    font-size: 14px;
}

.btn--large {
    width: 200px;
    padding: 16px;
    font-size: 16px;
}