.sidebar {
    background-color: #091336;
    min-height: 98vh;
}

.logo {
    margin: 19px 120px 52px 12px;
}

.payText{
    flex-grow: 1;
}

.boxContainer {
    margin: 56px 20px 0 20px;
}

.itemContainer {
    margin-bottom: 32px;
}

.item {
    height: 52px;
    width: 240px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 12px;
}

.iconAdd {
    padding-top: 6px;
    margin-left: 14px;
}

.iconAlert {
    padding-top: 6px;
    margin: 0 0 0 38px;
}

.typography {
    color: rgba(255, 255, 255, 0.6);    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 52px;
    border-radius: 4px;
    background-color: #005FF8;
    color: #ffffff;
    margin: 32px 18px;
}

.buttonTypography {
    margin-left: 44px;
}